.grid-main {
  background-color: #000;
  color: #fff;
}
.Grid-Card {
  padding: 0;
  margin: 20px 0;
}

.grid-heading {
  font-size: 48px;
  padding: 30px 20px 0px;
  font-family: "Roboto", sans-serif;
}
