.Link {
  padding: 20px;
  margin-top: 30px;
  max-width: 400px;
  color: rgb(241, 241, 241);
  text-align: left;
}
.Heading {
  font-weight: 700;
  color: #fff;
}

.Links {
  display: block;
  font-size: 1.1rem;
  padding: 5px 0;
  opacity: 0.9;
  font-weight: 400;
  text-decoration: none;
  color: rgb(241, 241, 241);
}

.Links:hover {
  text-decoration: underline;
  color: rgb(241, 241, 241);
}
