.NavLinks {
  padding: 30px 120px;
  position: "absolute";
  top: 0;
  text-align: center;
  /* transition: 5s ease; */
  /* height: 100vh; */
}

.NavLink-logo {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.LinkCards {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.swiper-button-next {
  color: white;
}
.close-button:hover {
  cursor: pointer;
}
