.SearchPop {
  position: absolute;
  top: 55px;
  left: 520px;
  z-index: 456;
  color: white;
  background-color: #1f1f1f;
  width: 677px;
  border-radius: 2px;
}

.tr {
  background-color: #1f1f1f;
  border: 10px solid red;
}

.WhiteName {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  width: 60px;
}

/* .WhiteName Image {
  object-fit: cover;
} */

.Offwhite {
  opacity: 0.8;
  color: white;
}

.SearchFloatImage {
  display: flex;
  align-items: center;
  padding: 0;
}

.SearchLink {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.SearchLink:hover {
  color: rgb(185, 185, 185);
}

.SearchFloatContent {
  padding-left: 20px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.SearchHr {
  margin: 3px;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid rgb(202, 202, 202);
}
