.MovieList {
  background-color: rgb(199, 199, 199);
  color: #000;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.MovieList-container {
  background-color: rgb(199, 199, 199);
  color: #000;
  height: auto;
  padding: 0 150px;
}

.MovieList-main {
  display: flex;
}

.showing {
  font-family: Verdana, sans-serif;
  font-size: 0.8em;
}

.your-Rating {
  display: block;
  margin: 0;
  padding: 0;
}

.MovieList-page {
  background-color: #f8f8f8;
}

.MovieList-page,
.MovieList-sideBar {
  padding: 20px;
  min-height: 100vh;
}

.MovieList-page {
  min-width: 70%;
}
.MovieList-sideBar {
  border-left: 3px solid rgb(128, 128, 128);
  min-width: 30%;
}
.MovieList-header {
  color: #424242;
  margin: 0;
}

.MovieList-head h5 {
  color: #424242;
  font-weight: normal;
}
.MovieList-byline {
  font-size: 12px;
  color: #666;
  /* margin: 3px 0 10px; */
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
}

.MovieList-headerpage {
  display: flex;
  justify-content: space-between;
}

.image {
  display: flex;
  align-items: flex-end;
}

.MovieList-LowerHeader {
  display: flex;
  justify-content: space-between;
}

.MovieList-sort {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
}

.MovieList-sort label {
  padding: 0 10px;
}

#sort {
  width: 150px;
  padding: 2px 10px;
}

#search_input {
  margin-left: 5px;
  width: 150px;
  padding: 0 10px;
}

.Sidebar-header h5 {
  padding: 15px 0;
}

.Sidebar-header span {
  /* font-weight: bold; */
  /* font-size: 0.8rem; */
}

.bold {
  font-weight: bold;
  font-size: 1.5rem;
}

.Sidebar-check label {
  padding: 0 10px;
  font-size: 0.9rem;
}

.category small {
  display: block;
  color: #136cb2;
}

.MovieList-list {
  padding: 5px 0;
  font-family: Verdana, Arial, sans-serif;
}

.MovieList-list small {
  color: rgb(90, 90, 90);
  padding-left: 20px;
  font-size: 0.8rem;
}

.blueName {
  color: #136cb2;
}

table {
  width: 100%;
}

th {
  color: rgb(90, 90, 90);
  width: "10%";
  font-size: "0.9rem";
}

tr {
  border: 1px solid white;
}

/* tr:hover {
  cursor: pointer;
} */

tr:nth-child(even) {
  background-color: #f6f6f5;
  /* margin: 1px 0; */
  border: #fff 1px solid;
}

.MovieList-NavLink {
  text-decoration: none;
  /* color: rgb(216, 169, 169) */
}
