.Auth {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  height: 100vh;
}

.Register {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.Login {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.Authentication {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #949494;
  padding: 20px;
  border-radius: 3px;
}

.RegisterUser,
.LoginUser,
.LoggedUser {
  margin: 10px;
  color: #2e2e2e;
}
.AuthEmail,
.AuthPass {
  margin: 5px;
  font-size: 0.8em;
  padding: 4px 8px;
}

.AuthRow {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.AuthButton {
  margin: 5px;
  border: 1px solid #474747;
  background-color: #f5c518;
  border-radius: 3px;
  font-size: 0.8em;
  padding: 6px 12px;
  color: #474747;
  opacity: 1;
}
